# Inspired by http://dcmnt.me/1R7IzYc
.idea/

### Atom ###
.ropeproject

### Linux ###
*.swp
*~
*.orig
.directory
.bundle
generator/vendor/bundle
.chef/
.ruby-version
.terraform/

### Windows ###
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes


/bin/
/*.iml
**.svg
**.dot
**.pyc
