# Inspired by http://dcmnt.me/1R7IzYc
.idea/

### Atom ###
.ropeproject

### Linux ###
*.swp
*~
*.orig
.directory
.bundle
generator/vendor/bundle
.chef/
.ruby-version
.terraform/
landscape/.terraform/

### Windows ###
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

## Terraform ###
*.tfstate*backup
terraform.tfvars
generator/output/**/*.tf
generator/output/**/terraform.conf
generator/output

landscape/certs/*.crt
landscape/certs/*.chain
landscape/certs/*.key
landscape/*/.terraform
terraform.plan
targets

## generated lambdas ##
landscape/lambdas/*.zip
node_modules

/bin/
/*.iml
**.svg
**.dot
**.pyc
